/* I just vibecoded this shit */
@import url('https://fonts.googleapis.com/css2?family=VT323&family=Fragment+Mono:ital@0;1&display=swap');

$serif      : 'Fragment Mono', monospace !default;
$sans-serif : 'Fragment Mono', monospace !default;
$monospace  : 'Fragment Mono', monospace !default;

$background-color: #050d1a !default;
$text-color: #a8b8c8 !default;
$muted-text-color: #4a6070 !default;
$primary-color: #4a7fc1 !default;
$border-color: #0d2040 !default;
$footer-background-color: #030a12 !default;
$link-color: #5b9bd5 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: #ffffff !default;
$navicon-link-color-hover: #ffffff !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: background-color;
}

code.highlighter-rouge,
p > code,
li > code,
td > code {
  background-color: #0a1a2e !important;
  color: #7aaad0 !important;
  font-size: 0.85em !important;
}

.highlight,
figure.highlight,
pre.highlight {
  background-color:#091d36 !important;
  color:  #dfe7ed!important;  /* gris azulado muy apagado */
}

.highlight pre,
.highlight code {
  color: #7a9ab0 !important;
}

div.highlighter-rouge,
figure.highlight {
  border-radius: 50%;
  position: relative;
  padding-top: 36px !important;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 14px;
    width: 12px; height: 12px;
    border-radius: 50%;
    background: #ff5f57;
    box-shadow:
      20px 0 0 #febc2e,
      40px 0 0 #28c840;
  }
}

.layout--home .page {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.layout--home #main {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
